*.log
*.cache
Makefile
*.userprefs
*.layout
confdefs.h
conftest*
config.h
*.status
libtool
stamp-*
*libs/*
*.o
*.lo
*~
config.lt
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
*/*/*/*deps/*.*o
*/*/*/*/*deps/*.*o
*.dirstamp
wolf3dredux
gamepal
signon
